body::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}

.body{
  justify-content: center;
  overflow: hidden;
}

.app{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.map{
  height: 96vh;
  width: 98%;
  border-radius: 30px;
  border: solid 6px rgba(28, 48, 48, 0.5);
  
}
.mapboxgl-popup-tip{
  border-top-color:rgba(34, 54, 54, 0.5) !important;
}
.mapboxgl-popup-content{
  background: yellow !important;
  border-radius: 10px !important;
  font-family: 'Courier New';
  font-weight: bolder;
  text-align: center;
  border: solid 4px rgba(28, 48, 48, 0.5);
  height: 36px;
}

.hidden{
  display: none;
}

.flight-plan-stop{
  background-image: url(drone.png);
  background-size: cover;
  width: 25px;
  height: 25px;
  background-color: yellow;
  border-radius: 11px;
  border: solid 3px rgba(28, 48, 48, 0.5)
}

.flightPlannerWrapper
{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: absolute;
  top: 8px;
  left: 16px;
  width: 420px;
  height: auto;
  background-color: yellow;
  opacity: 0.7;
  font-family: system-ui;
  border-radius: 30px;
  border: solid 6px rgba(28, 48, 48, 0.5);
}

.title{
  align-self: center;
  font-size: 6mm;
}

.flightPlannerWrapper 
  
  .seprator{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    border-radius: 30px;
    border: solid 2px rgba(28, 48, 48, 0.5);
    width: 90%;
  }
  .content{
    justify-content: space-around;
    display: inline-flex;
    flex-direction:row;
    width: 100%;
  
    
   
  } 
  .longitude{
    font-family: 'Courier New';
    font-weight: bolder;
    align-self: center;
    background-color: white;
    text-align: center;
    height: 16px;
    width: 25%;
    border: solid 2px rgba(28, 48, 48, 0.5);
    
  }
  .latitude{
    font-family: 'Courier New';
    font-weight: bolder;
    align-self: center;
    background-color: white;
    text-align: center;
    height: 16px;
    width: 25%;
    border: solid 2px rgba(28, 48, 48, 0.5);
  }

  .planID{
    font-family: 'Courier New';
    font-weight: bolder;
    align-self: center;
    background-color: white;
    text-align: center;
    height: 16px;
    width: 160px;
    border: solid 2px rgba(28, 48, 48, 0.5);
  }

  .button{
    height: 30px;
    width: 70px;
    margin-top: 8px;
    border: solid 2px rgba(28, 48, 48, 0.5);
    border-radius: 10px;
    font-family: 'Courier New';
    font-weight: bolder;
    text-align: center;
    font-size: 4mm;  
  }
  .button.active{
    color: green;
  }
  .content 
    .title{
      font-size: 4mm;
    }